@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Global scrollbar hiding */
* {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
}
